# Supabase
VITE_SUPABASE_URL=https://seu-projeto.supabase.co
VITE_SUPABASE_ANON_KEY=sua-chave-anonima-aqui
SUPABASE_SERVICE_ROLE_KEY=sua-service-role-key-aqui
ADMIN_EMAIL=admin@exemplo.com
ADMIN_PASSWORD=sua-senha-aqui