# Supabase
VITE_SUPABASE_URL=https://ifndiztgonndotoleefo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlmbmRpenRnb25uZG90b2xlZWZvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3MzQ2NzksImV4cCI6MjA5MDMxMDY3OX0.EI1TG5iA1HJCdWvfoJhuybXFTNtoiU2cuuSYellaGwI
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAIL=zon56juazeirinho@gmail.com
ADMIN_PASSWORD=